<div class="filters">
    <input type="search" placeholder="Search">
    <select id="category" name="category">
        <option value="all-categories">All categories</option>
        <option value="indoor-plants">Indoor Plants</option>
        <option value="outdoor-plants">Outdoor Plants</option>
        <option value="succulents-cacti">Succulents & Cacti</option>
        <option value="flowering-plants">Flowering Plants</option>
        <option value="herbs-edible-plants">Herbs & Edible Plants</option>
        <option value="trees-large-lants">Trees & Large Plants</option>
        <option value="add_new">Edit Categories</option>
    </select>
</div>    