<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Monstera Deliciosa</td>
                <td>Herbs & Edible Plants</td>
                <td>15</td>
                <td>$25.00</td>
                <td><a href="">Edit</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Spider Plant</td>
                <td>Succulent</td>
                <td>3</td>
                <td>$20.00</td>
                <td><a href="">Edit</a></td>
            </tr>
        </tbody>
    </table>
</div>
