<!DOCTYPE html>
<html lang="en">
 <%- include('./partials/elements/head.ejs') %>
<body>
    <main>
        <%- include('./partials/form/header.ejs') %>
        <%- include('./partials/form/editProduct.ejs') %>
    </main>
</body>
</html>