<!DOCTYPE html>
<html lang="en">
<%- include('./partials/elements/head.ejs') %>
<body>
  <main>
    <%- include('./partials/elements/header.ejs') %>
    <section class="products">
      <h2>Products Inventory</h2>
      <%- include('./partials/inventory/products.ejs') %>
    </section>
  </main>
  <script>
    // Redirect to /new when clicking the Add Product button
    const addButton = document.querySelector('.add-product');
    addButton.addEventListener('click', () => {
      window.location.href = '/category/new';
    });
  </script>
</body>
</html>
